@media only screen and (max-width: 992px) {
    header{
        height: 60px;
        width: 98%;
        top :10px;
   }
    .logo{
        margin: 8px 5px 5px 5px;
        padding: 5px;
        width: 200px;
   }
    .logo-icon{
        width: 40px;
        height: 40px;
   }
    .logo-text{
        font-size: 32px;
   }
    header nav{
        margin-top: -6px;
   }
    header nav{
        width: 35vw;
   }
    header .button{
        width: 150px;
   }
    header .button h4 {
        padding: 10px 10px;
        margin: 13px;
        font-size: 13px;
   }
    header nav li a{
        font-size: 13px;
   }
}